@model PsbankTest2.Models.ProductVM


<div class="form">
    <div class="form-group">
        <label>Total Amount</label>
        <input type="text" name="totalAmount" class="form-control" value="@Model.TotalCost" />
    </div>
    <div class="form-group">
        <label>Cash</label>
        <input type="text" name="cash" class="form-control" />
    </div>
    <div class="form-group">
        Change
        <div class="col-md-10">
            <input type="text" name="change" class="form-control" />
        </div>
    </div>
</div>